<div th:fragment="main_chat">
    <div class="main_header">
        <div class="chat_title">hogefuga</div>
        <div class="exit">
            <a href="#">チャットを終了する</a>
        </div>
    </div>
    
        <div class="messages">
            <div th:each="message : ${messages}" class="message">
                <div class="meta">
                    <div class="name" th:text="${message.user.name}">ユーザー名</div>
                    <div class="data" th:text="${message.createdAt}">日付</div>
                </div>
                <div class="lower-message">
                    <div class="message-content" th:text="${message.content}">メッセージ内容</div>
                </div>
            </div>
        </div>

    <form th:action="@{/rooms/{roomId}/messages(roomId=${roomId})}" method="post" th:object="${messageForm}" class="form">
        <div class="form-input">
            <input th:field="*{content}" placeholder="type a message" class="type_message">

            <label class="form-image">
                <span class="image-file">画像</span>
                <input type="file" class="hidden">
            </label>
        </div>
        <input type="submit" value="送信" class="send">
    </form>
</div>