<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<div th:fragment="side_bar">
        <div class="side_header">
            <div class="user_name">
                <a th:href="@{/users/{userId}/edit(userId=${user.id})}" th:text="${user.name}">ユーザー名</a>
            </div>
            <div class="create_box">
                <a href="#">チャットを作成する</a>
            </div>
        </div>
        <div class="rooms">
            <div class="room">
                <div class="chat_rooms_name">
                    <a href="#">techroom1</a>
                </div>
            </div>
        </div>
</div>
</html>